<header>
<!--  todo create config in array-->
  <button
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="link"
  >
    Welcome Here!!!
  </button>
  <button
    routerLink="/change-detection"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="link"
  >
    Change detection
  </button>
  <button
    routerLink="/state-shaker"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="link"
  >
    State Shaker
  </button>
  <button
    routerLink="/websocket-shaker"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="link"
  >
    WebsocketShaker
  </button>
  <button
    routerLink="/cards"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="link"
  >
    Cards
  </button>
</header>