<div class="login">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-control">
      <input
        type="text"
        placeholder="enter your email"
        formControlName="username"
      >
      <app-error-handler
        [controlErrors]="loginForm.get('username')?.errors"
      ></app-error-handler>
    </div>
<!--    todo password directive which toggle pwd visibility && error directive-->
    <div class="form-control">
      <input
        type="password"
        placeholder="password"
        formControlName="password"
      >
      <app-error-handler
        [controlErrors]="loginForm.get('password')?.errors"
      ></app-error-handler>
    </div>
    <button>Submit</button>
  </form>
</div>
