/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import "ui-kit/slyles";

body {
  min-height: 100vh;
  display: flex;
  justify-content: stretch;
}
